<!-- snippets/templates/snippets/snippet_list.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Snippet List</title>
</head>
<body>
    <h1>Snippet List</h1>
    <a href="{% url 'create_snippet' %}">Create New Snippet</a>
    <ul>
        {% for snippet in snippets %}
            <li>
                <a href="{% url 'snippet_detail' snippet.pk %}">{{ snippet.title }}</a>
                <a href="{% url 'update_snippet' snippet.pk %}">Edit</a>
                <a href="{% url 'delete_snippet' snippet.pk %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
