<!DOCTYPE html>
<html>
<head>
    <title>All Snippets</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="content-container">
        <h1>All Snippets</h1>
        <ul class="snippet-list">
            {% for snippet in snippets %}
                <li>
                    <span>
                        <a href="{% url 'snippet_detail' snippet.id %}?next=all_snippets">{{ snippet.title }}</a>
                        {% if snippet.user == request.user %}
                            <a href="{% url 'update_snippet' snippet.id %}?next=all_snippets">Update</a>
                        {% endif %}
                    </span>
                    {% if snippet.user == request.user %}
                        <form action="{% url 'delete_snippet' snippet.id %}?next=all_snippets" method="post">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'create_snippet' %}" class="button">Create New Snippet</a>
        <a href="{% url 'my_snippets' %}" class="button">My Snippets</a>
    </div>
</body>
</html>
