<!DOCTYPE html>
<html>
<head>
    <title>My Snippets</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="content-container">
        <h1>My Snippets</h1>

        <!-- Navigation Links -->
        <div class="navigation-links">
            <a href="{% url 'all_snippets' %}" class="button">All Snippets</a>
            <a href="{% url 'logout' %}" class="button">Logout</a>
        </div>

        <!-- List of user-specific snippets -->
        <ul class="snippet-list">
            {% for snippet in snippets %}
                <li>
                    <span>
                        <a href="{% url 'snippet_detail' snippet.id %}?next=my_snippets">{{ snippet.title }}</a>
                        <a href="{% url 'update_snippet' snippet.id %}?next=my_snippets">Update</a>
                    </span>
                    <form action="{% url 'delete_snippet' snippet.id %}?next=my_snippets" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>

        <!-- Button to create a new snippet -->
        <a href="{% url 'create_snippet' %}" class="button create-snippet">Create New Snippet</a>
    </div>
</body>
</html>
